* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  background-color: blueviolet;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.list-item {
  display: flex;
  list-style: none;
}
.list-items {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.rgstr-btn button {
  padding: 0.5rem;
  width: 10rem;
  background-color: #758283;
  font-size: 20px;
  color: #fff;
  border: 2px solid white;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
  margin-left: 10px;
  margin-right: 10px;
}

.container-lft {
  width: 40rem;
}
.container-lft h2 {
  font-size: 5rem;
}
.container-lft p {
  font-size: 1.5rem;
  color: white;
}
.img {
  width: 50rem;
  margin-right: 5rem;
}
.sas-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sas-img {
  width: 50rem;
  margin-left: 3rem;
}

.sas-items {
  list-style: none;
}
.sas-contnt h2 {
  font-size: 2rem;
}
.sas-item {
  margin-top: 2rem;
  list-style-image: url(/image/1564530_arrow_next_share_direction_icon.svg);
}

.sas-item h3 {
  font-size: 1.5rem;
}
.sas-item p {
  font-size: 1rem;
  width: 30rem;
}

#icons {
  width: 3rem;
}
#share {
  width: 3rem;
}

/* cards */

.card-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25rem;
  margin-bottom: 2rem;
}
.head {
  width: 25rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 15rem;
  height: 18rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 20px 0 rgb(179, 177, 177);
  border-radius: 15px;
}
.card h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}
.card p {
  font-size: 20px;
  color: gray;
}
.bc-1 {
  background-color: pink;
  width: 10rem;
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
  margin-top: 15px;
}
.bc-2 {
  margin-top: 15px;
  background-color: lightcyan;
  width: 10rem;
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 900px) and (min-width: 200px) {
  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    padding: 0%;
    margin: 0%;
    width: fit-content;
  }
  .header {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
  .list-items {
    font-size: 1rem;
  }

  .img {
    display: none;
  }

  .container {
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .container-lft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-lft h2 {
    text-align: center;
  }
  .container-lft p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
    text-align: center;
  }

  .sas-sec {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    
  }
  .sas-contnt {
    text-align: center;
    margin-bottom: 1rem;
  }

  .sas-contnt h2 {
    font-size: 4rem;
  }
  .sas-items{

    text-align: center;
  }
  .sas-item {
    margin-top: 2rem;
    text-align: center;

  }
  .sas-item h3 {
    font-size: 5rem;
  }
  .sas-item p {
    font-size: 3rem;
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  .card p {
    font-size: 25px;
    color: black;
    font-weight: 500;
  }
  .card-sec{

    margin-top: 2rem;
  }
}
